[Unit]
Description=Up1 Service

[Service]
Type=simple
ExecStart=<%= @default_path %>/server
Nice=5
WorkingDirectory=<%= @default_path %> 
User=<%= @default_user %> 
Group=<%= @default_group %> 

[Install]
WantedBy=multi-user.target
